
.body {
  background-color: #984BDC;
}

@media (max-width: 480px) {
  .background-icons {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .intro-slide {
    position: relative;
    z-index: 2;
  }

  .img {
    margin: 10rem 20% 0 20%;
    width: 60%; 
  }

  .carousel-text {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 2rem 1.5rem 0rem 1.5rem;
    text-align: center;
  }

  .indicators-carousel {
    margin-top: 50px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: 1rem;
  }
}
